.navbar{
    max-width: 630px;
    margin: 60px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.navbar-brand{
    display: flex;
    align-self: center;
}

.navbar-logo{
    margin-right: 20px;
}

.navbar-navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
}

.navbar-navigation-item{
    margin-left: 50px;
}

.navbar-link{
    text-decoration: none;
    color: black;
}