*, *::after, *::before{
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    margin: 0;
}

.navbar{
    max-width: 630px;
    margin: 60px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-family: 'Nunito';
}

.navbar-brand{
    display: flex;
    align-self: center;
}

.navbar-logo{
    margin-right: 20px;
}

.navbar-navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
}

.navbar-navigation-item{
    margin-left: 50px;
}

.navbar-link{
    text-decoration: none;
    color: black;
}

main{
    font-family: 'Work Sans';
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-input{
    width: 100%;
}

.form-label{
    display: block;
    margin-bottom: 15px;
}

.form-textarea{
    width: inherit;
    font-size: 17px;
    padding: 12px 20px;
    border: none;
    background-color:beige;
    margin-bottom: 10px;
}

.form-submit{
    background-color: lightseagreen;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 6px 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.form-submit:hover{
    background-color: #18c1e1;
}

.entry{
    margin-top: 50px;
}

.entry-title{
    display: inline;
    font-size: 19px;
}

.entry-date{
    color: #667c74;
}

.entry-content{
    font-size: 15px;
    line-height: 150%;
}

.footer{
    background-color: #2f3a3d;
    padding: 40px 0;
    margin-top: 50px;
    border-top: 4px solid black;
    /* color: white;
    font-size: 12px; */
}

.footer-content{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer .left-section{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right-section{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer a{
    color: white;
    font-size: 12px;  
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}

.footer-column{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer-item{
    margin-bottom: 5px;

}