<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniFeed</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <div class="navbar-brand">
            <img src="/static/logo.png" alt="the MiniFeed logo">
        </div>
        <ul class="navbar-navigation">
            <li class="navbar-navigation-item"><a href="#" class="navbar-link">Recent</a></li>
            <li class="navbar-navigation-item"><a href="#" class="navbar-link">Calender</a></li>
        </ul>
    </header>
    <main>
        <section>
            <h1>Add new entry</h1>
            <form class="form" method="post">
                <p class="form-input">
                    <label for="entry" class="form-label">Entry contents:</label>
                    <textarea name="content" class="form-textarea" id="entry" aria-label="Entry contents"></textarea>

                </p>
                <button class="form-submit">Submit</button>
            </form>
        </section>
        <section>
            <h1>Recent Posts</h1>
            {% for entry in entries %}
            <article class="entry">
                <div>
                    <h2 class="entry-title">{{entry[0] | truncate(30, true)}}.</h2>
                    <time class="entry-date" datetime="{{entry[1]}}">{{entry[2] }}</time>
                </div>
                <p class="entry-content">
                    {{entry[0] }}
                </p>
            </article>
            {% endfor %}
        </section>

    </main>
    <footer class="footer">
        <div class="footer-content">
            <section class="left-section">
                <a href="" class="footer-items">Made by Christian</a>
                <a href="" class="footer-items">Explore my other projects</a>
            </section>
            <section class="right-section">
                <div class="footer-column">
                    <a href="" class="footer-item">Recent</a>
                    <a href="" class="footer-item">Calender</a>
                </div>
                <div class="footer-column">
                    <a href="" class="footer-item">About</a>
                    <a href="" class="footer-item">How this was made</a>
                </div>
            </section>
        </div>
    </footer>
</body>

</html>